* {
    --size-case: 80px;
}




.chessboard {
    display: grid;
    grid-template-columns: repeat(9, var(--size-case));
    grid-template-rows: repeat(9, var(--size-case));
}

.chessboard > .label-row {
    grid-column: 1 / 10;

    display: grid;
    grid-template-columns: repeat(9, var(--size-case));

    align-items: center;
}

.label-row > span {
    text-align: center;
}

.chessboard > .label-column {
    grid-row: 2 / 10;

    display: grid;
    grid-template-rows: repeat(8, var(--size-case));

    align-items: center;
    justify-content: center;
}

.chessboard > .case {

    display: grid;
    justify-content: center;
    align-items: center;

}

.chessboard > .pale {
    background-color: rgb(235, 235, 210);
}

.chessboard > .dark {
    background-color: rgb(120, 150, 85);
}

