


.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
}

.chessboard > .case {

    display: grid;
    justify-content: center;
    align-items: center;

}

.chessboard > .pale {
    background-color: rgb(235, 235, 210);
}

.chessboard > .dark {
    background-color: rgb(120, 150, 85);
}

